---

---

<footer>
    <div class="ft">
        <span class="ft-text">© 2025 Necrophos Clothes.</span>
    </div>
</footer>

<style>
    h1, h2, p {
		margin: 0;
	}

    footer {
        position: absolute;
        background-color: #000000;
        bottom: 0;
        width: 100%;
    }
    
    .ft {
        display: flex;
        justify-content: center;
        max-width: 1380px;
        padding: 8px 40px;
        box-sizing: border-box;
        margin: auto;
    }

    .ft-text{
        color: #919191;
        font-size: 12px;
    }

    @media only screen and (max-width: 500px) {
        .ft-text{
            font-size: 10px;
        }
    }

    @media only screen and (max-width: 400px) {
        .ft-text{
            font-size: 8px;
        }
    }
</style>